<!DOCTYPE html>
<head>
  <title>Script Summarizing Bot</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <a href="{{ url_for('index') }}"> <h3>Script Summarizing Bot</h3> </a>
  <form action="/" method="post">
    <input type="text" name="input_text" placeholder="Paste any script or article" required />
    
    <input type="submit" value="Summarize" />
  </form>
  <!-- jinja 이용하여 파이썬 논리 사용 -->
  {% if result %}
    <form action="/" method="post">
    <input type="refresh" value="Try another" />
    </form>
    
    <div class="result">
      <li>Summarized for you:</li>
      {{ result }}
    </div>
    <div class="keyword">
      <li>Keywords to learn more:</li>
      {{ keyword }}
    </div>
  {% endif %}
  <!-- endif endfor endblock 꼭 사용해주기 -->

  
</body>
